# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.env.*
!.env.example

# VS Code
.vscode/
.settings/

# Data & Logs
data/
logs/
*.log

# OS
.DS_Store

venv/
.python-version
incident_storage/incidents.db
incident_storage/incidents.db
